body{
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
.bodyFundoMadeira{
    background-image: url(../imagens/madeira.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
}
#bodyIndex{
    background-image: url(../imagens/salada2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment:fixed;
}
#button01{
    width:100%;
    height:100%;
    border: none;
    background-color: transparent;
    color:white;
    font-size:100px;
    font-family: inherit;
    position:fixed;
    /*background-color: red;*/
}
#botaoConfig{
    background-image: url(../imagens/gear.png);
    width: 50px;
    height:50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border:none;
    margin: 2%;
    float: right;
}
#divListaCategorias{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 2%;     
}
.limparFloat{
    clear: both;
}
.titulo{
    text-align: center;
    font-size: 50px;
}
.botao{
    height: auto;
    color: white;
    font-size: 20px;
    background-color: black;
    padding:5px;
    border:none;
    margin:5px;
    border-radius: 5px;
    font-family:inherit;
}


label{
    color:black;
    font-size:20px;
}
select{
    width: 15%;
    height: 25px;
    background-color:white;
}
input{
    background-color:white;
    height: 20px;
}
.btnAdd{
    background-image: url(../imagens/add.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    border:none;
    width:25px;
    height:25px;
    position: absolute;
    margin-left: 0.5%; 
}
#ingrediente {
    font-size: 20px;
    border: 2px solid black;
    height: auto;
    vertical-align:top;
}
#divIngredientes{
    float: right;
    width:30%;
    height:200px;
    overflow: scroll;
    padding: 1%;
    background-color:whitesmoke;
}
#divIngredientes input:checked{
    color:red;
}
#divFoto{
   float:left;
   margin-right:5%;
   margin-bottom:2%;
}
/*---------------------index-------------------*/
#divFormLogar{
     background-color: white;
     width:25%;
     border:solid black 2px;
     padding: 2%;
     margin-top: 10%;
     margin-left: 35%;
     height:50%;
}
#divFormLogar input{
    width: 100%
}

/*------------------*/
#file{
    background-color: transparent;
}
#divItem{
    margin: 1%;
}
#obs{
    width:80%;
    height: 100px;
    margin-left: 10%;
    position: relative;
}
.btnVoltar{
    background-image: url(../imagens/voltar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

